.window{
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    gap: 20px;
}

.map{
    border: 1px solid red;
    width: 500px;
    height: 600px;
}

.bar{
    border: 1px solid red;
    width: 1000px;
    height: 600px;
}

#chartdiv, #divBar, #represdiv {
    width: 99%;
    height: 99%;
}

.filter{
    margin-top: 90px;
    margin-left: 10px;
    display: flex;
    gap: 10px;
}

.repres{
    border: 1px solid red;
    width: 1500px;
    height: 500px;
}